# Copia este archivo a .env si quieres personalizar puertos o credenciales
APP_HOST_PORT=8080
DB_HOST_PORT=5433
DB_NAME=fittrack
DB_USER=fittrack
DB_PASSWORD=fittrack

# Jenkins CI (docker-compose.jenkins.yml)
JENKINS_HOST_PORT=8081

